/****************************************nav*******************************/
nav.navbar {
    background: rgba(173, 169, 150, 0.5);
    background: -webkit-linear-gradient(to right,rgba(234,234,234,0.5),rgba(219,219,219,0.5),rgba(242,242,242,0.5),rgba(173,169,150,0.5));
    background: linear-gradient(to right, rgba(234, 234, 234, 0.5), rgba(219, 219, 219, 0.5), rgba(242, 242, 242, 0.5), rgba(173, 169, 150, 0.5));
    box-shadow: 0 -1rem 3rem var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
nav.navbar.scrolled {
    background: #ADA996; 
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}
nav.navbar .container > a{
    width: 8%;
}
nav.navbar .nav-item .nav-link{
    position: relative;
    display: inline-block;
    letter-spacing: 1.5px;
}
nav.navbar .nav-item .nav-link:hover,
nav.navbar .nav-item .nav-link.active{
    color: var(--main-color);
}
nav.navbar .nav-item .nav-link::before,
nav.navbar .nav-item .nav-link::after{
    content: "";
    position: absolute;
    width: 25%;
    height: 25%;
    transition: 00.5s;
    opacity: 0;
}
nav.navbar .nav-item .nav-link::before{
    left: 0;
    top: 0;
    border-left: solid 1px var(--main-color);
    border-top: solid 1px var(--main-color);
    transform: translateX(-15px);
}
nav.navbar .nav-item .nav-link::after{
    right: 0;
    bottom: 0;
    border-right: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
    transform: translateX(15px);
}
nav.navbar .nav-item .nav-link:hover::before,
nav.navbar .nav-item .nav-link:hover::after,
nav.navbar .nav-item .nav-link.active::before,
nav.navbar .nav-item .nav-link.active::after{
    opacity: 1;
    transform: translate(0);
}
nav.navbar ul li i {
    transition: 00.5s;
}
nav.navbar ul li i:hover {
    color: var(--main-color);
    cursor: pointer;
}

/****************************************Home**********************/
header #SC-carousel {
    position: relative;
}
header #SC-carousel .SC-innerCarousel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url("../images/home-bg-1.jpg");
    background-position: center;
    background-size: cover;
    z-index: 1;
}
header #SC-carousel .SC-innerCarousel.active {
    z-index: 2;
}
header #SC-carousel .SC-innerCarousel:nth-of-type(2) {
    background-image: url("../images/home-bg-2.jpg");
}
header #SC-carousel .SC-innerCarousel:nth-of-type(3) {
    background-image: url("../images/home-bg-3.jpg");
}
header #SC-carousel .SC-innerCarousel [class*="part"]{
    display: flex;
    align-items: center;
    justify-content: center;
}
header #SC-carousel .SC-innerCarousel .part1 .item{
    transform: translateX(-100%);
    opacity: 0;
    scale: 0.9;
    transition: all 0.7s 00.5s,scale 1s 1s;
}
header #SC-carousel .SC-innerCarousel.active .part1 .item{
    transform: translateX(0);
    opacity: 1;
    scale: 1;
}
header #SC-carousel .SC-innerCarousel .part1 h2{
    font-size: clamp(30px, 4vw, 50px);
    color: var(--main-color);
}
header #SC-carousel .SC-innerCarousel .part1 p{
    font-size: clamp(14px, 2vw, 17px);
    line-height: 1.6;
    width: 90%;
}
header #SC-carousel .SC-innerCarousel .part2{
    position: relative;
}
header #SC-carousel .SC-innerCarousel .part2 .item > *{
    opacity: 0;
    transition-duration: 1s;
}
header #SC-carousel .SC-innerCarousel.active .part2 .item > *{
    opacity: 1;
}
header #SC-carousel .SC-innerCarousel .part2 img:first-child{
    transform: translate(0%, -200%);
}
header #SC-carousel .SC-innerCarousel.active .part2 img:first-child{
    transform: translate(-20%, -10%);
}
header #SC-carousel .SC-innerCarousel .part2 img:last-child{
    position: absolute;
    left: 50%;
    top: 50%;
    scale: 00.5;
    transform: translate(-50%, -50%) rotate(-0);
}
header #SC-carousel .SC-innerCarousel.active .part2 img:last-child{
    transform: translate(-50%, -50%) rotate(-30deg);
    scale: 1;
}
header #SC-carousel button{
    position: absolute;
    left: 20px;
    bottom: 45%;
    transform: translateY(50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
header #SC-carousel button.next {
    right: 20px;
    left: initial;
}
/*********************************Offer*****************************/
.Offer [class*="part"] .item {
    position: relative;
    overflow: hidden;
}
.Offer [class*="part"] .item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    transition-duration: 0.8s;
}
.Offer [class*="part"] .item:hover::after{
    left: -100%;
}
.Offer [class*="part"] .item img{
    transform: scale(1);
    transition-duration: 0.8s;
}
.Offer [class*="part"] .item:hover img{
    transform: scale(1.1);
}
/*********************************Latest*****************************/
#Latest .product .part1 .item1 ul li{
    cursor: pointer;
}
#Latest .product .part1 .item1 ul li img{
    transform: scale(0.9);
    transition-duration: 0.5s;
}
#Latest .product .part1 .item1 ul li img:hover{
    transform: scale(1.1);
}
#Latest .product .part1 .item2 .selectedImg{
    width: 60%;
    transition-duration: 0.5s;
    cursor: help;
}
#Latest .product .part1 .item2 .selectedImg:hover{
    transform: scale(1.2);
}
#Latest .product .part2 h2{
    font-size: clamp(20px, 3.4vw, 21px);
}
#Latest .product .part2 p{
    font-size: clamp(15px, 3.5vw, 16px);
}
.size ul li{
    cursor: pointer;
    width: 26px;
    height: 26px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Latest .product .part2 .item > *:not(:last-child){
    margin-bottom: 15px;
} 
.size ul li.active{
    color: #fff;
    background-color: var(--main-color);
}
/*********************************featured*****************************/
#Featured .content .product{
    position: relative;
    overflow: hidden;
}
#Featured .content .product p {
    background-color: var(--main-color);
    color: #fff;
    position: absolute;
    left: 35%;
    width: 100%;
    top: 20px;
    transform: rotate(45deg);;
}
#Featured .content .product .head > *{
    cursor: pointer;
    transition-duration: 0.8s;
}
#Featured .content .product .head .selectedImg img{
    cursor: auto;
    transition-duration: 0.5s;
}
#Featured .content .product:hover .head .selectedImg img{
    transform: scale(1.2);
}
#Featured .content .product .head i{
    background-color: #fff;
    box-shadow: 0 10px 15px #0003;
    width: 35px;
    height: 35px; 
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-inline: auto;
    transform: translateY(0px);
    opacity: 0;
}
#Featured .content .product:hover .head i{
    transform: translateY(-50px);
    opacity: 1;
}
#Featured .content .product .head i:hover{
    background-color: var(--main-color);
    color: #fff;
}
#Featured .content .product .head ul{
    transform: translateY(0px);
    opacity: 0;
}
#Featured .content .product:hover .head ul{
    opacity: 1;
    transform: translateY(-30px);
    transition-delay: 0.2s;
}
#Featured .content .product .head ul li{
    box-shadow: 0 10px 15px #0003;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
#Featured .content .product .head ul li.active{
   background-color: var(--main-color); 
}
/****************************************popup***************************/
.popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup.active{
    display: flex;
}
.popup.shop.active{
    display: block;
    justify-content: initial;
    align-items: initial;
}
.popup .box{
    width: clamp(280px, 50vw, 450px);
    background: #ADA996; 
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    position: relative;
    transform: translateY(-100%);
    opacity: 0;
    transition-duration: 0.8s;
}
.popup.show .box{
    opacity: 1;
    transform: translateY(0%);
}
.popup.shop .box{
    width: clamp(300px, 75vw, 800px);
    margin: 25px auto;
}
.popup.detail .box{
    width: clamp(265px, 75vw, 800px);
}
.popup.detail .box [class*="part"]{
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup i{
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--main-color);
    font-size: 25px;
    cursor: pointer;
} 
.popup .btn{
    background-color: var(--main-color);
    color: #fff;
    transition-duration: 0.5s;
}
.popup .btn:hover{
    background-color: #fff;
    color: var(--main-color);
    border: var(--main-color) 1px solid ;
}
.popup li {
    cursor: pointer;
}
.popup .color ul li{
    width: 15px;
    height: 15px;
}
.popup .color ul li.active{
    border: none; 
    box-shadow: #00000040 0 54px 55px, #0000001f 0 -12px 30px, #0000001f 0 4px 6px, #0000002b 0 12px 13px, #00000017 0 -3px 5px;
}
/******************************************footer******************************/
footer {
    box-shadow: 0 1rem 3rem var(--main-color);
    background: #ADA996; 
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
    font-size: clamp(14px, 1.5vw, 16px);                                                                                                                                            
}